<div class="container__menu-bar">
  <ul>
    <li>By Eduardo Takashi</li>
    <li><span>•</span></li>
    <li><a href="https://www.linkedin.com/in/eduardo-takashi-missaka-3597a1346/">Linkedin</a></li>
    <li><span>•</span></li>
    <li><a href="https://github.com/EduTakashi">Github</a></li>
    <li><span>•</span></li>
    <li><a href="https://www.dio.me/pro/semana-consumidor-pro-vitalicio?source=youtube-ads-semana-consumidor-dio-pro-vitalicio&utm_source=youtube-ads&utm_medium=cpc&utm_content=oferta&utm_term=basic&utm_campaign=semana-consumidor-dio-pro-vitalicio&gad_source=2&gclid=Cj0KCQjws-S-BhD2ARIsALssG0Z_q3-VsYsANEsXFexGW9PvnxZ3gFcOAo8FvI48UKFmh4fLI7gyzp8aAgtQEALw_wcB">Site DIO </a></li>
  </ul>
</div>
